#box{
    height: 320px;
    width: 320px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    background-color: blue;
}
.cell{
    height: 100px;
    width: 100px;
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.cell:hover{
    cursor: pointer;
}
#newGame, #newRound{
    border-radius: 25px;
}
#statusText{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.circle{
    background-image: url(images/o.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.cross{
    background-image: url(images/x.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}